/*
body
{
    /!*background:url('images/bgs.jpg') repeat-x #e4e9ec top;*!/
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    margin:0px auto auto auto;
    color:#000;
}*/
