<!--<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

    </div>
</nav>-->


<header class="site-header navbar-fixed-top navbar nav-custom" role="banner">
    <div>
        <div id="logo">
            <a ng-href="/">
                <img ng-src="/images/365-pool-spa-logo.png" class="header-image" alt="365-logo">
            </a>
        </div>
    </div>


    <div class="nav-header-group">

        <div class="nav-header-number">
            Call (210) 277-8281
        </div>

        <div id="dropdown-scrollable-container" class="nav-header-links" style="height: 15em; overflow: auto;">
            <div id="dropdown-long-content">
                <div id="dropdown-hidden-container">


                    <div class="active btn-group"><a ng-href="/">Home</a></div>


                    <div class="btn-group" uib-dropdown keyboard-nav>
                        <button id="btn-append-to" uib-dropdown-toggle>
                            About 365 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to">
                            <li role="menuitem"><a href="chemicals-supplies">CHEMICALS & SUPPLIES</a></li>
                            <li role="menuitem"><a href="equipment-filters">EQUIPMENT & FILTERS</a></li>
                            <li role="menuitem"><a href="service-repair">SERVICE & REPAIR</a></li>
                            <li role="menuitem"><a href="replace-parts">GENUINE REPLACEMENT PARTS</a></li>
                        </ul>
                    </div>


                    <div class="btn-group"><a ng-href="locations">Locations</a></div>


                    <div class="btn-group" uib-dropdown keyboard-nav>
                        <button id="btn-append-to-to-body" uib-dropdown-toggle>
                            Contact <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                            <li role="menuitem"><a href="testimonials">TESTIMONIALS</a></li>
                            <li role="menuitem"><a href="employment">EMPLOYMENT</a></li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>

    </div>







</header>



